html{
    font-size: 1vw;
}

body{
    text-align: center;
    margin: 0 auto;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

/* COUNTDOWN */

.countdown {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown h1 {
    font-size: 5rem;
    margin-bottom: 3%;
}

.countdown_time {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .second {
    font-size: 3rem;
}