html{
    font-size: 1vw;
    height: 100%;
}

body{
    text-align: center;
    margin: 0 auto;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    height: 100%;
}

main{
    height: 100%;
}

.main_big_box{
    width: 100%;
    height: 100%;
    display: flex;
}

.main_box1{
    width: 50%;
    border-left: 3rem #563723;
}

.main_box2{
    width: 50%;
    border-left: 3rem #563723;
}