html{
    font-size: 1vw;
    height: 100%;
}

body{
    text-align: center;
    margin: 0 auto;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    height: 100%;
}

main{
    height: 100%;
}

.section1 h1{
    font-size: 5rem;
}

.main_big_box{
    width: 100%;
    height: 100%;
    display: flex;
}

.main_box1{
    width: 50%;
    border-right: 1rem #563723 solid;
    padding-top: 10rem;
}

.main_box2{
    width: 50%;
    border-left: 1rem #563723 solid;
    padding-top: 10rem;
}

.section2{
    height: 20rem;
}

.section2 div h2{
    font-size: 3rem;
}

.top_img{
    position: absolute;
    display: block;
    object-fit: cover;
    filter: blur(4px);
    width: 30%;
    height: 40%;
    left: 35%;
}


.box2{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 50;
    width: 30%;
    height: 40%;
    left: 35%;
}

.title{
    background-image: none;
    /* font-size: 70px; */
    font-family: 'HanziPen TC','ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    color: white;
}

.main_box1 img{
    height: 40%;
}


/* 別のタイムライン */