html {
    font-size: 1vw;
    height: 100%;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
    height: 100%;
}

main {
    height: 100%;
}


/*タイムライン全体の設定*/
.timeline {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
}

.timeline li {
    /*線の起点とするためrelativeを設定*/
    position: relative;
    list-style: none;
    padding: 0 0 20px 0;
}

.timeline dl {
    margin: 0 0 20px 3em;
}

.timeline dd strong {
    display: block;
    padding: 10px 0;
}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
    position: absolute;
    left: 0.2em;
    top: 0;
    width: 2px;
    /*線の太さ*/
    height: 0;
    /*はじめは高さを0に*/
    background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: brown;
    border-radius: 50%;
}

.header{
    z-index: 100;
}


/* section {
    padding-top: 50rem;
} */


.header_content {
    height: 90%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 0.4rem 6rem 0.3rem 1rem;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.header_title {
    display: flex;
}

.header_title_img {
    display: block;
    width: 12rem;
    height: 4rem;
    opacity: 1;
}



.header_links {
    width: 40%;
    padding: 1rem 0 0 0;
}

.header_links ul {
    display: flex;
    justify-content: space-between;
}

.header_links li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
}

.header_links li a:hover {
    opacity: 0.4;
    transform: translate(0, -5px);
}


.header {
    width: 100%;
    height: 5rem;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    /* padding-top: 1.1rem; */
    box-sizing: border-box;
}

.header_content{
    box-sizing: border-box;
}

.SNS_box{
    width: 150%;
}


.burger-btn {
    display: none;
}

.fv {
    align-items: center;
    background-color: #141414;
    background-image: url(../img/fv-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}


.section-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 70px;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 2;
    margin-bottom: 40px;
}

.section-wrapper {
    padding: 100px 10% 50px;
}

@media screen and (min-width:541px) and (max-width:1024px) {
    .header{
        height: 10rem;
    }

    .header_content{
        padding-top: 2rem;
    }

    .header_title_img{
        width: 100%;
        height: 70%;
    }

    .header_links li a{
        font-size: 2.7rem;
        margin-top: 0;
    }

    .header_links{
        width: 50%;
        margin-top: 0;
    }
}

@media screen and (max-width:540px) {
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: none;
        padding: 0;
        vertical-align: middle;
    }

    /* ------------------ */
    /* humberger-menu */
    /* ------------------ */
    .header {
        padding: 0;
        height: 15rem;
    }

    .header_title_img{
        margin-top: 2rem;
        width: 30rem;
        height: 10rem;
    }

    /* 以下、ハンバーガーボタン */
    .burger-btn {
        display: block;
        height: 22%;
        position: relative;
        width: 20%;
        z-index: 3;
        /* codepenの挙動のため */
        background-color: transparent;
        border: none;
        margin-top: 5rem;
    }

    

    .bar {
        background-color: black;
        display: block;
        height: 0.1rem;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 7rem;
    }

    .bar_top {
        top: 3rem;
    }

    .bar_mid {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bar_bottom {
        bottom: 3rem;
    }

    .burger-btn.close{
        margin-top: 8.4rem;
    }

    .burger-btn.close .bar_top {
        transform: translate(-50%,-4.3rem) rotate(45deg);
        transition: transform .3s;
    }

    .burger-btn.close .bar_mid {
        opacity: 0;
        transition: opacity .3s;
    }

    .burger-btn.close .bar_bottom {
        transform: translate(-50%, -1rem) rotate(-45deg);
        transition: transform .3s;
    }

    /* スクロール制御 */
    .noscroll {
        overflow: hidden;
    }

    /* 以下、ハンバーガーメニュー */
    .nav-wrapper {
        visibility: hidden;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        opacity: 0;
        transition: opacity .5s;
        z-index: 2;
        /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
    }

    .header-nav {
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    .header_links ul{
        display: block;
    }

    .nav-list {
        display: block;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-item {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .header_links li a{
        font-size: 5rem;
    }

    /* メニューオープン時 */
    .nav-wrapper.fade {
        opacity: 1;
        visibility: visible;
    }

    /* ------------------ */
    /* fv */
    /* ------------------ */
    .main-copy {
        font-size: 30px;
    }

    /* ------------------ */
    /* about */
    /* ------------------ */
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .section-wrapper {
        padding: 100px 5% 50px;
    }
}


/* ふったー */
.footer {
    background-color: grey;
    opacity: 0.7;
    height: 100%;
}

.footer_box {
    width: 65%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    padding: 6rem 0 0 0;
    position: relative;
    right: -23%;
    margin-top: 27rem;
}

.footer_official_box label p {
    color: black;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
}

.footer_official_box label p:hover {
    opacity: 0.4;
    transform: translate(0, -5px);
}

.footer_page_in_site a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}

.footer_page_in_site a:hover {
    opacity: 0.4;
    transform: translate(0, -5px);
}

.SNS {
    width: 14%;
}

.SNS_box a {
    margin: 1rem;
}

.SNS_box a img {
    width: 3rem;
    height: 3rem;
}

.SNS_box a :hover {
    opacity: 0.4;
    transform: translate(0, -5px);
}

.SNS p {
    color: black;
    font-size: 1.8rem;
    margin: 1rem 0;
    margin-left: 6rem;
    letter-spacing: 0.3rem;
    white-space: nowrap;
}

/* .SNS p:hover {
    opacity: 0.4;
    transform: translate(0, -5px);
} */

.posse_logo_footer {
    width: 80%;
    height: 40%;
}

.footer_other_box {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    margin: 2rem;
}

.footer_page_in_site a {
    margin: 0 1rem;
}

.footer_page_in_site{
    padding-left: 2rem;
}

.footer_box1{
    margin-left: 5rem;
}

.SNS_box{width: 250%;}

@media screen and (min-width:541px) and (max-width:1024px) { 
    .footer{
        height: 30rem;
    }

    .footer_box1{
        margin-left: 0;
    }
    

    .footer_official_box label p{
        font-size: 7rem;
    }

    .SNS p{
        display: block;
        margin-left: 0;
        margin: 3rem auto;
        font-size: 3rem;
        white-space: nowrap;
    }

    .footer_page_in_site a{
        font-size: 3rem;
    }

    .footer_box{
        width: 75%;
        display: block;
        right: -13%;
    }

    .SNS{
        margin: 0 auto;
        width: 100%;
    }

    .SNS_box{
        width: 100%;
    }

    
    .footer_official_box label p{
        font-size: 4rem;
    }

    .SNS_box a img {
        width: 5rem;
        height: 5rem;
    }
}


@media screen and (max-width:540px) {
    .footer_box {
        display: block;
        height: 20rem;
        margin:  20rem 0;
        right: -5%;
        width: 90%;
    }

    .footer_box1{
        margin-left: 0;
    }
    

    .footer_official_box label p{
        font-size: 7rem;
    }

    .footer_page_in_site a{
        font-size: 5rem;
        display: block;
    }

    .footer_page_in_site{
        display: block;
        line-height: 7rem;
    }

    .footer{
        height: 70rem;
    }

    .SNS{
        margin: 0 auto;
        width: 100%;
    }

    .SNS p{
        margin-left: 0;
        display: block;
        width: 50rem;
        margin: 3rem auto;
        font-size: 7rem;
        white-space: nowrap
    }

    .SNS_box{
        width: 100%;
    }

    .SNS_box a img {
        width: 7rem;
        height: 7rem;
    }
}

.leaf-1 {
    width: 25rem;
    height: 25rem;
    border-radius: 0 70px;
    background-color: #1f801f;
    transform: rotate(0deg);
}


/* top view  */
/* トップビュー */

.top_section {
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 5rem;
    justify-content: end;
    align-items: center;
    background-color: lightgreen;
}

.top_image {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.para {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.top_image, .para {
    transform: skewY(45deg);
}

.top_image {
    transform: skewY(-45deg);
}


.top_content {
    width: 40%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 2%;
    border-radius: 10px;
}

.top_headline {
    font-size: 2rem;
    color: #000;
    text-align: center;
}

.top_logo {
    width: 100%;
}

.top_text {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .top_section {
        display: block;
        position: relative;
    }
    
    .top_image {
        width: 100% !important;
        height: 100% !important;
        padding: 0;
        margin: 0 auto;
    }

    .top_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top_content {
        width: 70%;
        height: 40%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        padding: 8% 3% 3% 3%;
        box-sizing: border-box;
    }

    .top_headline {
        font-size: 4rem;
        color: #000;
        text-align: center;
    }

    .top_logo {
        height: 60%;
        margin: 0 auto;
    }

    .top_text {
        font-size: 3rem; 
    }
}

@media screen and (max-width:540px) {
    .top_section {
        display: block;
        padding: 0;
        background-color: none !important;
    }
    
    .top_image {
        width: 100% !important;
        height: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .top_image img {
        width: 100%;
        height: calc(100% - 15rem);
        object-fit: cover;
    }

    .top_content {
        height: 30%;
        width: 80%;
        background-color: #fff;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        padding: 8% 3% 3% 3%;
        box-sizing: border-box;
    }

    .top_headline {
        font-size: 6rem;
        color: #000;
        text-align: center;
    }

    .top_logo {
        height: 50%;
        margin: 0 auto;
    }

    .top_text {
        font-size: 4rem; 
    }

    .top_image, .para {
        transform: none;
    }
    
    .top_image {
        transform: none;
    }

    .para {
        border-radius: 0;
    }

    .leaf-1 {
        width: 40rem;
        height: 40rem;
        border-radius: 0 70px;
        background-color: #1f801f;
        transform: rotate(0deg);
    }
    
}

.timeline li dl{
    width: 50%;
    margin: 0 0 0 5rem;
}

.timeline li{
    padding-left: 10rem;
    padding-top: 7rem;
}

.timeline{
    padding: 0 0 0 40rem;
}

.timeline li dl dt{
    display: none;
}

.timeline li dl dd{
    display: none;
}

.timeline li div{
    width: 30rem;
    height: 30rem;
}

.timeline li div img{
    width: 100%;
    height: 150%;
    border-radius: 1rem;
}

.timeline li div h2{
    font-size: 3rem;
}

.relative{
    position: relative;
}

.box{
    width:80%;
    margin:5% 0 5% 10%;
    text-align:center;

    /* background-color:#ffff00; */

    /* padding:5%; */

    /* border:1px solid #333; */

    /* transform:translateX(-50px);
    opacity:0;
    transition:opacity 1s,transform 0.5s; */
}

.top_img{
    display: block;
    width: 120%;
    height: 30rem;
    object-fit: cover;
    filter: blur(4px);
}

.box2{
    top: 10%;
    width: 120%;
    left: -9rem;
    position: absolute;
    width: 40rem !important;
    height: 50rem !important;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 5;
    /* visibility: hidden; */
}

.box2:hover{
    visibility: visible;
}

.title{
    background-image: none;
    font-size: 3rem;
}

.white{
    color: white;
}

.box_left{
    left: -52rem
}