html {
    font-size: 1vw;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

.header_content {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    margin: 0 auto 0.3rem auto;
}

.header_title {
    display: flex;
}

.header_title_img {
    display: block;
    width: 12rem;
    height: 4rem;
    opacity: 1;
}



.header_links {
    width: 40%;
    padding: 1rem 0 0 0;
}

.header_links ul {
    display: flex;
    justify-content: space-between;
}

.header_links li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.header_links li a:hover {
    opacity: 0.4;
    transform: translate(0, -5px);
}


.header {
    width: 100%;
    height: 6rem;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1.1rem;
    box-sizing: border-box;
    z-index: 5;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}



/* -------------------- */
/* header
  /* -------------------- */
/* .header {
    align-items: center;
    background-color: #1b1310;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: flex;
    height: 74px;
    justify-content: space-between;
    padding: 0 120px;
} */

/* .nav-list {
    
    display: flex;
} */

/* .nav-item {
    
    margin-right: 55px;
} */

.burger-btn {
    display: none;
}

/* ------------------ */
/* fv
  /* ------------------ */
.fv {
    align-items: center;
    background-color: #141414;
    background-image: url(../img/fv-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.main-copy {
    border: 2px solid #fff;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding: 34px 42px;
}

/* ------------------ */
/* about
  /* ------------------ */
.section-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 70px;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 2;
    margin-bottom: 40px;
}

.section-wrapper {
    padding: 100px 10% 50px;
}

@media screen and (max-width:768px) {

    /* ----------------------- */
    /* base_sp
    /* ----------------------- */
    /* デフォルトのbuttonスタイルをリセット */
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        margin: 0;
        outline: none;
        padding: 0;
        vertical-align: middle;
    }

    /* ------------------ */
    /* humberger-menu */
    /* ------------------ */
    .header {
        padding: 0 5%;
        height: 5rem;
    }

    .header_title_img{
        margin-top: 1rem;
    }

    /* 以下、ハンバーガーボタン */
    .burger-btn {
        display: block;
        height: 5.3rem;
        position: relative;
        width: 2rem;
        z-index: 3;
        /* codepenの挙動のため */
        background-color: transparent;
        border: none;
        margin-top: 0.4rem;
    }

    .bar {
        background-color: black;
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 20px;
    }

    .bar_top {
        top: 10px;
    }

    .bar_mid {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bar_bottom {
        bottom: 10px;
    }

    .burger-btn.close .bar_top {
        transform: translate(-50%, 10px) rotate(45deg);
        transition: transform .3s;
    }

    .burger-btn.close .bar_mid {
        opacity: 0;
        transition: opacity .3s;
    }

    .burger-btn.close .bar_bottom {
        transform: translate(-50%, -8px) rotate(-45deg);
        transition: transform .3s;
    }

    /* スクロール制御 */
    .noscroll {
        overflow: hidden;
    }

    /* 以下、ハンバーガーメニュー */
    .nav-wrapper {
        visibility: hidden;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        opacity: 0;
        transition: opacity .5s;
        z-index: 2;
        /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
    }

    .header-nav {
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    .nav-list {
        display: block;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-item {
        margin-bottom: 40px;
        margin-right: 0;
    }

    /* メニューオープン時 */
    .nav-wrapper.fade {
        opacity: 1;
        visibility: visible;
    }

    /* ------------------ */
    /* fv */
    /* ------------------ */
    .main-copy {
        font-size: 30px;
    }

    /* ------------------ */
    /* about */
    /* ------------------ */
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .section-wrapper {
        padding: 100px 5% 50px;
    }
}